# Este é um arquivo de exemplo. Renomeie para .env e preencha com suas credenciais do Grafana Cloud.
# Você pode encontrar esses valores na seção "My Account" -> "Security" -> "API Keys"
# e nos detalhes de cada serviço (Prometheus, Loki, Tempo) no seu Stack do Grafana Cloud.

# ID do usuário/stack para Prometheus, Loki e Tempo
GCLOUD_PROMETHEUS_USER=
GCLOUD_LOKI_USER=
GCLOUD_TEMPO_USER=
GCLOUD_TENANT_ID= # Geralmente o mesmo que os IDs de usuário

# Token de API do Grafana Cloud com permissões de métricas, logs e traces
GCLOUD_API_KEY=

# Endpoints de Remote Write/Push
GCLOUD_PROMETHEUS_REMOTE_WRITE_URL=
GCLOUD_LOKI_URL=
GCLOUD_TEMPO_URL=
